<!DOCTYPE html>
<html>
<head>
	{{#if post}}
	<title>{{@blog.title}}: {{meta_title}}</title>
	{{else}}
	<title>{{meta_title}}</title>
	{{/if}}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<link rel="stylesheet" id="carpeaqua-typography-css" type="text/css" href="https://cloud.typography.com/7044094/6451752/css/fonts.css" />
	<link rel="stylesheet" id="carpeaqua-bigfoot-css" type="text/css" href="{{asset "css/main.css"}}" />
	<link rel="stylesheet" id="carpeaqua-bigfoot-css" type="text/css" href="{{asset "css/bigfoot-default.css"}}" />
  <link rel="mask-icon" sizes="any" href="{{asset "images/icon-mask.svg"}}" color="#4990E2">
  <link rel="apple-touch-icon" href="{{asset "images/apple-touch-icon.png"}}">
  <link rel="shortcut icon" href="{{asset "images/favicon.svg"}}">
	{{ghost_head}}
	<meta property="og:image" content="{{asset "images/card-image.png"}}" />
	<meta property="og:image:width" content="512" />
	<meta property="og:image:height" content="512" />
	<meta property="og:locale" content="en_US" />
</head>

<body class="{{body_class}}">
	<header>
		<a href="{{@blog.url}}" title="carpeaqua home"><img src="{{@blog.logo}}" alt="carpeaqua" id="logo" /></a>
	</header>
	<main>
		{{{body}}}
	</main>

	{{ghost_foot}}
	<script type='text/javascript' src="{{asset "js/plugins.min.js"}}"></script>
	<script type='text/javascript' src="{{asset "js/main.min.js"}}"></script>
	<script type="text/javascript">
	  $.bigfoot();
	</script>

	{{!-- iTunes Affiliates --}}
	<script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '11l7mT']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
	</body>
	</html>
