<html>

<head>
  {{#if post}}
  <title>{{@site.title}}: {{meta_title}}</title>
  {{else}}
  <title>{{meta_title}}</title>
  {{/if}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
  <link rel="stylesheet" id="carpeaqua-primary-css" type="text/css" href="{{asset 'built/main.css'}}" />
  <link rel="stylesheet" id="carpeaqua-prism-css" type="text/css" href="{{asset 'built/prism-tomorrow.css'}}" />
  <link rel="mask-icon" sizes="any" href="{{asset 'built/icon-mask.svg'}}" color="#4990E2" />
  <link rel="apple-touch-icon" href="{{asset 'built/apple-touch-icon.png'}}" />
  <link rel="shortcut icon" href="{{asset 'built/favicon.svg'}}" />
  {{ghost_head}}
  <meta property="og:image" content="{{asset 'built/card-image.png'}}" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  <meta property="og:locale" content="en_US" />
</head>

<body class="{{body_class}}">
  <header class="w-full border-b border-gray-200 dark:border-carpeaqua-blue">
    <a href="{{@site.url}}" title="carpeaqua home" class="inline-block pl-3 pt-1">
      <picture>
        <source srcset="{{asset 'built/logo-dark.svg'}}" media="(prefers-color-scheme: dark)" />
        <img src="{{@site.logo}}" alt="carpeaqua" id="logo" class="h-auto" />
      </picture>
    </a>
  </header>
  <main class="text-left max-w-[775px] mx-auto my-0 mb-8 px-3 bg-white dark:bg-dark-bg block">
    {{{body}}}
  </main>

  {{ghost_foot}}
  <script type="text/javascript" src="{{asset 'built/prism.min.js'}}"></script>
</body>

</html>